In [1]:
import pandas as pd

In [2]:
import re

In [3]:
traceExport = pd.read_csv('ordersExport (2).csv', delimiter=',')

In [4]:
display(traceExport)

,id,name,orderDate,customer,shopifyId,total,createdAt,updatedAt,consignerId,storeId,inventories
0,117081,#61591,2022-12-22T16:44:51.000Z,"{""id"":6621052928149,""note"":null,""tags"":"""",""ema...",4823186473109,1999.0,2022-12-22T16:44:58.931Z,2022-12-22T16:44:58.931Z,NaN,32,"[{""id"":338737,""code"":""I-apn60vmlbrviv9w"",""opti..."
1,117056,#61590,2022-12-22T16:21:10.000Z,NaN,4823164354709,10397.0,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,NaN,32,"[{""id"":325806,""code"":""I-4248qmlaxlh1ep"",""optio..."
2,117049,#61589,2022-12-22T16:13:23.000Z,NaN,4823156719765,9297.0,2022-12-22T16:13:28.673Z,2022-12-22T16:13:28.673Z,NaN,32,"[{""id"":337537,""code"":""I-1f55hmlboshpks"",""optio..."
3,117040,#61588,2022-12-22T16:05:56.000Z,"{""id"":6621221486741,""note"":null,""tags"":"""",""ema...",4823150264469,2997.0,2022-12-22T16:06:01.223Z,2022-12-22T16:06:01.223Z,NaN,32,"[{""id"":279180,""code"":""I-7bttrml8lxrzsf"",""optio..."
4,117038,#61587,2022-12-22T16:04:23.000Z,NaN,4823148986517,9597.0,2022-12-22T16:04:29.107Z,2022-12-22T16:04:29.107Z,NaN,32,"[{""id"":331603,""code"":""I-18imrmlbaegsg0"",""optio..."
...,...,...,...,...,...,...,...,...,...,...,...
11728,4108,#42052,2022-04-05T10:58:33.000Z,"{""id"":6183315308693,""note"":null,""tags"":"""",""ema...",4427154391189,6999.0,2022-04-05T10:58:40.061Z,2022-04-05T10:58:40.061Z,NaN,32,"[{""id"":27693,""code"":""vYpc4ud5K"",""option1Value""..."
11729,4103,#42047,2022-04-05T10:27:53.000Z,NaN,4427128701077,3999.0,2022-04-05T10:27:59.031Z,2022-04-05T10:27:59.031Z,NaN,32,"[{""id"":23980,""code"":""CZHGPccAfP"",""option1Value..."
11730,4102,#42046,2022-04-05T10:22:49.000Z,NaN,4427125358741,4499.0,2022-04-05T10:22:55.580Z,2022-04-05T10:22:55.580Z,NaN,32,"[{""id"":25211,""code"":""Rewmk5z1s"",""option1Value""..."
11731,4096,#42040,2022-04-05T09:35:06.000Z,"{""id"":5482657054869,""note"":null,""tags"":"""",""ema...",4427088494741,7499.0,2022-04-05T09:35:13.431Z,2022-04-05T09:35:13.431Z,NaN,32,"[{""id"":28114,""code"":""FVaikDBm5"",""option1Value""..."
11732,4094,#42038,2022-04-05T08:56:42.000Z,NaN,4427059495061,6999.0,2022-04-05T08:56:54.027Z,2022-04-05T08:56:54.027Z,NaN,32,"[{""id"":26707,""code"":""1oSW4pW-I"",""option1Value""..."

In [5]:
consignExport = pd.read_csv('CO_Consigners.csv', delimiter=',')

In [6]:
consignExport

,id,firstName,lastName,email,phone,address,idNumber,accountName,accountNumber,bank,...,storeId,payoutData,payoutType,consignerTypeId,accountType,isActive,depreciatedId,acceptedTOS,phoneZelle,emailNotifications
0,27,Store (don't use),Account,menan+courtorder@unit203.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
1,3001,Kameetp@gmail.com,NaN,Kameetp@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
2,3002,rudikruser@gmail.com,NaN,rudikruser@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
3,3003,Boikgantshon@gmail.com,NaN,Boikgantshon@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
4,3004,m.nkambako@gmail.com,NaN,m.nkambako@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,10419,Deepesh,Lakha,deepesh444@gmail.com,0720682098,NaN,NaN,Deepesh Lakha,0000,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3900,10421,mohammed10hafesji@gmail.com,NaN,mohammed10hafesji@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3901,10422,Louis,Oke,llouis1616@gmail.com,0619050736,NaN,NaN,Louis Oke,4102895957,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3902,10423,Keegan,Hunt,keegzhunt@gmail.com,0722366400,NaN,NaN,Keegan Hunt,62792417266,FNB,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3903,10424,Keegan,Hunt,keegzhunt@gmail.com,0722366400,NaN,NaN,Keegan Hunt,62792417266,FNB,...,32,NaN,NaN,NaN,Regular,True,NaN,NaN,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."

In [7]:
consignExport.rename(columns = {'id':'consignerId'}, inplace = True)

In [8]:
consignExport

,consignerId,firstName,lastName,email,phone,address,idNumber,accountName,accountNumber,bank,...,storeId,payoutData,payoutType,consignerTypeId,accountType,isActive,depreciatedId,acceptedTOS,phoneZelle,emailNotifications
0,27,Store (don't use),Account,menan+courtorder@unit203.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
1,3001,Kameetp@gmail.com,NaN,Kameetp@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
2,3002,rudikruser@gmail.com,NaN,rudikruser@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
3,3003,Boikgantshon@gmail.com,NaN,Boikgantshon@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
4,3004,m.nkambako@gmail.com,NaN,m.nkambako@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,10419,Deepesh,Lakha,deepesh444@gmail.com,0720682098,NaN,NaN,Deepesh Lakha,0000,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3900,10421,mohammed10hafesji@gmail.com,NaN,mohammed10hafesji@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3901,10422,Louis,Oke,llouis1616@gmail.com,0619050736,NaN,NaN,Louis Oke,4102895957,NaN,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3902,10423,Keegan,Hunt,keegzhunt@gmail.com,0722366400,NaN,NaN,Keegan Hunt,62792417266,FNB,...,32,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."
3903,10424,Keegan,Hunt,keegzhunt@gmail.com,0722366400,NaN,NaN,Keegan Hunt,62792417266,FNB,...,32,NaN,NaN,NaN,Regular,True,NaN,NaN,NaN,"{""onPayout"": true, ""onProductSold"": true, ""onI..."

In [9]:
lineItems = pd.DataFrame(columns=['id', 'name', 'customer', 'shopifyId', 'total', 'createdAt', 'updatedAt', 'consignerId', 'storeId','inventories'])

In [10]:
def appendDictToDF(df,dictToAppend):
    df = pd.concat([df, pd.DataFrame.from_records([dictToAppend])])
    return df

In [11]:
for i in range(len(traceExport)):
    bigstr = traceExport.iloc[i, 10]
    substr = '{"id":\d+,"code"' # finds starting of new entry
    x = re.findall(substr, bigstr)
    loopCount = len(x)
    #print(loopCount)
    
    # put stubs here
    nameStub = traceExport.iloc[i, 1]
    creatStub = traceExport.iloc[i, 6]
    updateStub = traceExport.iloc[i, 7]
    consignStub = traceExport.iloc[i, 3]
    #print(nameStub)
    
    for x in range(loopCount):
        
        # here we get the id
        groupItems = traceExport.iloc[i, 10]
        idstr = '"orderId":\d+,'
        idarr = re.findall(idstr, groupItems)
        #print(idarr)
        idFin = idarr[x][10:16]
        #print(idFin)
        
        # here we get the name
        nameFin = nameStub
        
        #here we get the customer
        # TODO
        
        
        cusFin = str(consignStub)
        
        #groupItems = traceExport.iloc[i, 3]
        #print(type(groupItems))
        #cusstr = groupItems.split(',')
        #cusstr = '"email":".+",'
        #cusarr = re.findall(cusstr, groupItems)
        #print(cusarr)
        #cusFin = cusstr
        #if (x==0):
            #print(cusFin)       
        
        
        
        
        
        
        #TODO
        
        # here we get the shopifyId
        groupItems = traceExport.iloc[i, 10]
        sidstr = '"shopifyId":"\d+",'
        sidarr = re.findall(sidstr, groupItems)
        #print(sidarr)
        try:
            sidFin = sidarr[x][13:27]
        except:
            sidFin = 'null'
        #print(sidFin)
        
        # here we get the total
        groupItems = traceExport.iloc[i, 10]
        totstr = '"price":"\d+"'
        totarr = re.findall(totstr, groupItems)
        #print(totarr)
        try:
            totFin = totarr[x][9:13]
        except:
            totFin = 'err'
        #print(totFin)
        
        # here we get the created at
        creFin = creatStub
        
        # here we get the update at
        updFin = updateStub
        
        # here we get the consignerId
        groupItems = traceExport.iloc[i, 10]
        cidstr = '"consignerId":\d+,'
        cidarr = re.findall(cidstr, groupItems)
        #print(cidarr)
        cidFin = cidarr[x][14:18]
        #print(cidFin)
        
        # here we get the storeID
        groupItems = traceExport.iloc[i, 10]
        stostr = '"storeId":\d+,'
        stoarr = re.findall(stostr, groupItems)
        #print(stoarr)
        stoFin = stoarr[x][10:12]
        #print(stoFin)
        
        # here we get the inventory
        groupItems = traceExport.iloc[i, 10]
        invItems = re.split("},{", groupItems)
        #print(len(invItems))
        invFin = invItems[x]
        
        entry = { 'id':idFin, 'name':nameFin, 'customer':cusFin, 'shopifyId':sidFin, 'total':totFin, 'createdAt':creFin, 'updatedAt':updFin, 'consignerId':cidFin, 'storeId':stoFin,'inventories':invFin }
        
        #temporary_df = pd.DataFrame([entry], columns=['id', 'name', 'customer', 'shopifyId', 'total', 'createdAt', 'updatedAt', 'consignerId', 'storeId','inventories'])
        #print(temporary_df)
        
        #lineItems = lineItems.append(temporary_df, ignore_index=True)
        
        

        # Creating an empty dataframe
        #df = pd.DataFrame(columns=['a', 'b'])
        temporary_df = pd.DataFrame(columns=['id', 'name', 'customer', 'shopifyId', 'total', 'createdAt', 'updatedAt', 'consignerId', 'storeId','inventories'])
        lineItems = pd.concat([lineItems, pd.DataFrame.from_records([entry])])
        # Appending a row
        #idFin, nameFin, cusFin, sidFin, totFin, creFin, updFin, cidFin, stoFin, invFin
        #lineItems = appendDictToDF(lineItems,{ 'id':idFin, 'name':nameFin, 'customer':cusFin, 'shopifyId':sidFin, 'total':totFin, 'createdAt':creFin, 'updatedAt':updFin, 'consignerId':cidFin, 'storeId':stoFin,'inventories':invFin })
        #lineItems = appendDictToDF(lineItems,{ 'a': 1, 'b': 2 })
        
        
        #print(lineItems)

In [12]:
lineItems.to_excel('lineItems(test2).xlsx')

In [13]:
display(lineItems)

,id,name,customer,shopifyId,total,createdAt,updatedAt,consignerId,storeId,inventories
0,117081,#61591,"{""id"":6621052928149,""note"":null,""tags"":"""",""ema...",null,1999,2022-12-22T16:44:58.931Z,2022-12-22T16:44:58.931Z,4831,32,"[{""id"":338737,""code"":""I-apn60vmlbrviv9w"",""opti..."
0,117056,#61590,nan,null,3499,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,3914,32,"[{""id"":325806,""code"":""I-4248qmlaxlh1ep"",""optio..."
0,117056,#61590,nan,null,3399,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,5198,32,"""id"":195609,""code"":""I-cwehml4fh014t"",""option1V..."
0,117056,#61590,nan,null,3499,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,3914,32,"""id"":314168,""code"":""I-v7n7wmlai7uuap"",""option1..."
0,117049,#61589,nan,null,2799,2022-12-22T16:13:28.673Z,2022-12-22T16:13:28.673Z,3243,32,"[{""id"":337537,""code"":""I-1f55hmlboshpks"",""optio..."
...,...,...,...,...,...,...,...,...,...,...
0,"4108,",#42052,"{""id"":6183315308693,""note"":null,""tags"":"""",""ema...",null,6999,2022-04-05T10:58:40.061Z,2022-04-05T10:58:40.061Z,5671,32,"[{""id"":27693,""code"":""vYpc4ud5K"",""option1Value""..."
0,"4103,",#42047,nan,null,3999,2022-04-05T10:27:59.031Z,2022-04-05T10:27:59.031Z,3914,32,"[{""id"":23980,""code"":""CZHGPccAfP"",""option1Value..."
0,"4102,",#42046,nan,null,4499,2022-04-05T10:22:55.580Z,2022-04-05T10:22:55.580Z,3665,32,"[{""id"":25211,""code"":""Rewmk5z1s"",""option1Value""..."
0,"4096,",#42040,"{""id"":5482657054869,""note"":null,""tags"":"""",""ema...",null,7499,2022-04-05T09:35:13.431Z,2022-04-05T09:35:13.431Z,5991,32,"[{""id"":28114,""code"":""FVaikDBm5"",""option1Value""..."
0,"4094,",#42038,nan,null,6999,2022-04-05T08:56:54.027Z,2022-04-05T08:56:54.027Z,5978,32,"[{""id"":26707,""code"":""1oSW4pW-I"",""option1Value""..."

In [14]:
consignExport.consignerId = consignExport.consignerId.astype(str)

In [15]:
lineItemsLookup = pd.merge(lineItems, 
                      consignExport, 
                      on ='consignerId', 
                      how ='left')
display(lineItemsLookup)
lineItemsLookup.to_excel('lineItems(Lookup).xlsx')

,id,name,customer,shopifyId,total,createdAt_x,updatedAt_x,consignerId,storeId_x,inventories,...,storeId_y,payoutData,payoutType,consignerTypeId,accountType,isActive,depreciatedId,acceptedTOS,phoneZelle,emailNotifications
0,117081,#61591,"{""id"":6621052928149,""note"":null,""tags"":"""",""ema...",null,1999,2022-12-22T16:44:58.931Z,2022-12-22T16:44:58.931Z,4831,32,"[{""id"":338737,""code"":""I-apn60vmlbrviv9w"",""opti...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
1,117056,#61590,nan,null,3499,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,3914,32,"[{""id"":325806,""code"":""I-4248qmlaxlh1ep"",""optio...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
2,117056,#61590,nan,null,3399,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,5198,32,"""id"":195609,""code"":""I-cwehml4fh014t"",""option1V...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
3,117056,#61590,nan,null,3499,2022-12-22T16:21:18.820Z,2022-12-22T16:21:18.820Z,3914,32,"""id"":314168,""code"":""I-v7n7wmlai7uuap"",""option1...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
4,117049,#61589,nan,null,2799,2022-12-22T16:13:28.673Z,2022-12-22T16:13:28.673Z,3243,32,"[{""id"":337537,""code"":""I-1f55hmlboshpks"",""optio...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16810,"4108,",#42052,"{""id"":6183315308693,""note"":null,""tags"":"""",""ema...",null,6999,2022-04-05T10:58:40.061Z,2022-04-05T10:58:40.061Z,5671,32,"[{""id"":27693,""code"":""vYpc4ud5K"",""option1Value""...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
16811,"4103,",#42047,nan,null,3999,2022-04-05T10:27:59.031Z,2022-04-05T10:27:59.031Z,3914,32,"[{""id"":23980,""code"":""CZHGPccAfP"",""option1Value...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
16812,"4102,",#42046,nan,null,4499,2022-04-05T10:22:55.580Z,2022-04-05T10:22:55.580Z,3665,32,"[{""id"":25211,""code"":""Rewmk5z1s"",""option1Value""...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
16813,"4096,",#42040,"{""id"":5482657054869,""note"":null,""tags"":"""",""ema...",null,7499,2022-04-05T09:35:13.431Z,2022-04-05T09:35:13.431Z,5991,32,"[{""id"":28114,""code"":""FVaikDBm5"",""option1Value""...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."
16814,"4094,",#42038,nan,null,6999,2022-04-05T08:56:54.027Z,2022-04-05T08:56:54.027Z,5978,32,"[{""id"":26707,""code"":""1oSW4pW-I"",""option1Value""...",...,32.0,NaN,NaN,NaN,Regular,True,NaN,True,NaN,"{""onProductSold"": true, ""onInventoryAccept"": t..."

In [18]:
emailarr = lineItemsLookup['email'].unique()
print(emailarr)
print(len(emailarr))

['joshuaweinberg@me.com' 'storeaccount@courtorder.co.za'
 'jessecupido@yahoo.com' ... 'jonolangaso@gmail.com'
 'kanelomalekela@gmail.com' 'njabulogama9@gmail.com']
1162